{% extends "stats/base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
		<div class="article-metadata">
			<small class="mr-2">{{ game.user }}</small>
			<small class="text-muted">{{ game.datePlayed|date:"F d, Y" }}</small>
			{% if game.user == user %}
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{% url 'gameUpdate' game.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1"  href="{% url 'gameDelete' game.id %}">Delete</a>
				</div>
			{% endif %}
		</div>
		<h2 class="article-title">{{ game.player }} played {{ game.opponent }}</h2>
		{% if game.win == True %}
			<p class="article-content">Winner was {{ game.player }}</p>
		{% else %}
			<p class="article-content">Winner was {{ game.opponent }}</p>
		{% endif %}
		</div>
	</article>
{% endblock content %}
