{% extends "stats/base.html" %}
{% load mathfilters %}
{% block content %}
	<article class="center">
			<h6 style="text-align: left; float: left">Region Pick Rates</h6>
      <h6 style="text-align: right">Region Win Rates</h6>
      {% for region in regions %}
				<div class="skillBox">
					<p style="text-align: center">{{ region.name }}</p>
					<div class="skill" style="text-align: center">
						<div class="winRateLevel" style="width: {{region.wins|div:region.totalGames|mul:50}}%">
							
            </div>
            {% with pickRate=region.totalGames|div:totalGames|mul:50 %}
						<div class="pickRateLevel" style="width: {{pickRate}}%; margin-left: {{50|sub:pickRate}}%">
							
            </div>
            {% endwith %}
					</div>
        </div>
      {% endfor %}
	</article>
{% endblock content %}
