{% extends "stats/base.html" %}
{% load mathfilters %}
{% block content %}
  <h1 class="mb-3">My game history</h1>
  <h2 class="mb-3">Secret Key: {{ user.profile.secretKey  }}</h2>
    {% for game in games %}
        <article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<small class="mr-2">{{ game.user }}</small>
					<small class="text-muted">{{ game.datePlayed|date:"F d, Y, H:i" }}</small>
				</div>
				{% if game.win == True %}
          <h2><a class="article-title" href="{% url 'replay' game.id 0 %}">{{ game.player }} beat {{ game.gameMode }} in {{ game.gameMode }} mode.</a></h2>
				{% else %}
				  <h2><a class="article-title" href="{% url 'replay' game.id 0 %}">{{ game.player }} lost against {{ game.opponent }} in {{ game.gameMode }} mode.</a></h2>
        {% endif %}
        <div>Region(s): {{ game.regions }}</div>
        <div>Deck: {{game.deckCode}}</div>
			</div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|sub:'3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
